p
 a(href='http://gwenbell.com/about')
  img(src='images/gwenbell-may-2013.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px;')

h3 Hi, I'm Gwen Bell. 

h4 I live in New York City. I am a programmer and writer. I love Git, I'm fascinated by Bitcoin, and I think transparent organizations are the future.

p <a class="coinbase-button" data-code="821780e6eccd9ef2e5c692bbd922f392" data-button-style="donation_large" href="https://coinbase.com/checkouts/821780e6eccd9ef2e5c692bbd922f392">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

p <script data-gittip-username="gwenbell" src="https://www.gittip.com/assets/widgets/0002.js"></script>

p I published Git Commit in April 2013. It's $37. Mostly men are buying it. I guess the command line is intimidating.
p
 a(href='http://git.gwenbell.com/')
    img(src='images/git-commit-cover.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px;')

p Hear from me once in a while. It's free.

<form action='https://tinyletter.com/gwenbell' method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Lemme in." class="btn" /><p></form>  

p I write this site in invisible ink. Everything I write, except paid offerings, are subject to deletion.