
a(href='http://gwenbell.com/about')
  img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')

h2 Hi, I'm Gwen Bell.

p I'm a technical writer and web developer currently based in Brooklyn, New York. I write this site on the command line, push to a vps and host it on Git.

p
 a(href='http://git.gwenbell.com/')
    img(src='images/loveonthecommandline_sq.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')