p
 a(href='http://gwenbell.com/about')
  img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='100%', style='border: 1px solid #ccc; padding: 4px;')

h2 Hi, I'm Gwen.

p I live in Brooklyn, New York. I write technical writing. When not writing, I do web dev. This site is an instance of Bitters: Jade, Stylus, Node.js and Markdown. 
p I publish on the command line, push to a vps and host the whole kit on Git. If that gets you all tingly, you're in the right place!

p To get a feel for the people with whom I spend my time, here are some [reader, client and supporter views](http://gwenbell.com/responses) on the work I've done through the years.

h2 Current Work

p
 a(href='http://git.gwenbell.com/')
    img(src='images/git-commit-cover.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px;')

p Learn Git, practice on the command line, be brave as a web dev. Package includes ongoing updates, writing, screencasts • 39

<form action='https://tinyletter.com/gwenbell' method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Receive Updates" class="btn" /><p></form>
