h2 Hi, I'm Gwen Bell.

p.lead I'm a Bed-Stuy, Brooklyn-based Hacker and Writer

p You're looking at Bitters, a 
  a(href="http://nodejs.org/") Node.js
  |  Git-based single-page website built with Express.js, Jade and Stylus.

include bitcoin.html

br
br

<form action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn" /><p></form>