
a(href='http://gwenbell.com/about')
  img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')

h2 Hi, I'm Gwen Bell.

p When not eating pork ramen followed by daifuku in the Japaneast Village of New York, I deploy code, listen to rap (the more outrageous the better - that's why I moved to Bed-Stuy and not Williamsburg) and write. Read 
 a(href='http://gwenbell.com/about') more about my work.

p
  a(href='http://git.gwenbell.com/')
    img(src='images/gitforpublishers_400 2.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')
