p
 a(href='http://gwenbell.com/about')
  img(src='images/gwenbell-may-2013.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px;')

h3 Hi, I'm Gwen Bell. 

h6 I live in New York City. I am a programmer and writer. I write about tech, death and The City. I wish everything was git committed, I'm fascinated by Bitcoin, and I hustle every single day.
<br />
p <script data-gittip-username="gwenbell" src="https://www.gittip.com/assets/widgets/0002.js"></script>
p <form action='https://tinyletter.com/gwenbell' method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn" /><p></form>  