
a(href='http://gwenbell.com/about')
  img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')

h2 Hi, I'm Gwen Bell.

p I live in Brooklyn, New York. I write technical writing with a quirky edge. When not writing, I do web dev. This site is an instance of Bitters: Jade, Stylus, Node.js and Markdown. 
p I publish on the command line, push to a vps and host the whole kit on Git.

p
 a(href='http://git.gwenbell.com/')
    img(src='images/loveonthecommandline_sq.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')

<form action='https://tinyletter.com/gwenbell' method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Get Letters!" class="btn" /><p></form>
