
img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')

h2 Hi, I'm Gwen Bell.

p Bed-Stuy, Brooklyn-based Hacker and Writer. When not eating donuts and bacon, I deploy code, publish writing and listen to Kendrick Lamar and Poliça.

p You're looking at Bitters, a 
  a(href="http://nodejs.org/") Node.js
  |  Git-based single-page website built with Express.js, Jade and Stylus. 

include bitcoin.html

br
br

<form action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn" /><p></form>