
a(href='http://gwenbell.com/about')
  img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')

h2 Hi, I'm Gwen Bell.

p When not eating donuts and bacon, I deploy code, 
 a(href='http://git.gwenbell.com') and publish technical writing
 |  from Bed-Stuy, Brooklyn, New York.

p
  a(href='http://git.gwenbell.com/')
    img(src='images/gitforpublishers_400 2.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px; margin-bottom: 1em;')
  
p
  <form action='https://tinyletter.com/gwenbell' method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter your email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Receive Messages" class="btn" /><p></form>

p
  <a class="coinbase-button" data-code="1c2ad91ca58eb69cb2f6b7c371922453" data-button-style="donation_small" href="https://coinbase.com/checkouts/1c2ad91ca58eb69cb2f6b7c371922453">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>