h2 Hi, I'm Gwen.

p I live in Brooklyn, New York. I write technical writing. When not writing, I do web dev. This site is an instance of Bitters: Jade, Stylus, Node.js and Markdown. 
p I publish on the command line, push to a vps and host the whole kit on Git. If that gets you all tingly, you're in the right place!

h2 Current Work

p
 a(href='http://git.gwenbell.com/')
    img(src='images/loveonthecommandline_sq.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px;')

p Learn Git, practice on the command line, be brave as a web dev. Package includes ongoing updates, writing, screencasts • 39

h2 Archived Work

p
 a(href='http://gwenbell.fetchapp.com/sell/evaeroda/ppc')
    img(src='images/digitalwarriorship.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px;')

p Learn to be healthy and effective in your digital work. Package includes Digital Warriorship, versions 2010 and 2012, and Reverb • 99

<form action='https://tinyletter.com/gwenbell' method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Receive Updates" class="btn" /><p></form>
