p
 a(href='http://gwenbell.com/about')
  img(src='https://secure.gravatar.com/avatar/7b0de19c44ac9483270eaafd16e89468?s=900', width='100%', style='border: 1px solid #ccc; padding: 4px;')

h2 Hi, it's Gwen. Yah found me.

p My clients can tell you how I 
  a(href='http://gwenbell.com/responses') write
  <br />My code 
  a(href='http://github.com/gwenbell') speaks for itself

p Hear from me once in a while.

<form action='https://tinyletter.com/gwenbell' method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p></p><p><input type="text" style="width:100%" name="email" id="tlemail" placeholder="Enter email address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Yes, please." class="btn" /><p></form>  

p Buy something that'll make you smarter, tougher and funnier in bed. Note: I didn't say better. Note two: I offer no guarantees. Use at your own risk! 
p
 a(href='http://git.gwenbell.com/')
    img(src='images/git-commit-cover.jpg', width='100%', style='border: 1px solid #ccc; padding: 4px;')