p
 a(href='http://gwenbell.com/about')
  img(src='images/gwenbell-may-2013.jpg', style='border: 1px solid #ccc; padding: 4px; width: 100%')

h3 Hi, I'm Gwen.

ul
  li Location: Brooklyn, NYC 
  li Work: Writing, Git Committing, Node.js Deploying
  li Extracurriculur: Walks, Yoga, Writing

<hr />
p Give a little

p <script data-gittip-username="gwenbell" src="https://www.gittip.com/assets/widgets/0002.js"></script>

p Get a little

p <form action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail"></label></p><p><input type="text" style="width:140px" name="email" id="tlemail" placeholder="Email Address" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank"></a></p></form>

<hr />