p
 a(href='http://gwenbell.com/about')
  img(src='images/gwenbell-may-2013.jpg', style='border: 1px solid #ccc; padding: 4px; width: 100%')

h3 Hi, I'm Gwen.

ul
  li 
    strong Location 
    | Brooklyn, NYC 
  li 
    strong Work 
    | Writing, Git Committing, Node.js Deploying
  li 
    strong Extracurriculur 
    | Long Walks, Strong Yoga, Morning Writing

h4 Give a Little

<script data-gittip-username="gwenbell" src="https://www.gittip.com/assets/widgets/0002.js"></script>
<br />
<br />
h4 Get a Little
<form action="https://tinyletter.com/gwenbell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/gwenbell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><label for="tlemail"></label><input type="text" style="width:140px" name="email" id="tlemail" placeholder="Email Address" /><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><a href="https://tinyletter.com" target="_blank"></a></form>