p
 a(href='http://gwenbell.com/about')
  img(src='images/gwenbell-may-2013.jpg', style='border: 1px solid #ccc; padding: 4px; width: 100%')

h3 Hey you. I'm Gwen Bell. 

ol
  li I live in Brooklyn, New York. 
  li I craft this site on the command line with Node.js, and commit with Git.
  li When not programming, I write, walk and lengthen my spine with yoga.

<hr />

p <p align="center"><script data-gittip-username="gwenbell" src="https://www.gittip.com/assets/widgets/0002.js"></script></p> 
