@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Light.ttf); weight: 300;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Regular.ttf); weight: 400;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Bold.ttf); weight: 700;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-LightItalic.ttf); weight: 300; font-style: italic;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-Italic.ttf); weight: 400; font-style: italic;}
@font-face { font-family: "Source Sans Pro"; src=url(/fonts/SourceSansPro-BoldItalic.ttf); weight: 700; font-style: italic;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-R.ttf); weight: 400;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-RI.ttf); weight: 400; font-style: italic;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-B.ttf); weight: 600;}
@font-face { font-family: "Ubuntu Mono"; src=url(/fonts/UbuntuMono-BI.ttf); weight: 600; font-style: italic;}

.container 
  margin-top: 2em;

img
  max-width: 100%;

body
  background #fff
  padding-bottom 40px
  font-family 'Source Sans Pro', sans-serif

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #666;
}

p, li , blockquote

  font-family 'Source Sans Pro', sans-serif, Verdana
  font-weight 400

table
  tfoot, tbody
    th
      border-top 1px solid #353534

footer
  padding-bottom 30px

.row-fluid > .span-fixed-sidebar
  margin-left 290px

a, a:link 
  color #666 
  font-weight 700
  text-decoration none

a:hover
  color #515151

.stream p:first-child
  font-size 2em


.centered
  margin-bottom 3em
  padding-top 5em
  text-align center

.container-main
  padding-top 60px

.date
  color #666




